<div class="row">
    <section class="user_info">
      <p>
        <%= avatar_for current_user %>
        <h1><%= link_to current_user.name, current_user %></h1>
        <%= current_user.email %>
        <span>
          <b><%= t "number_word_learned" %></b>
          <%= Word.all_word(current_user.id).count %>
        </span>
      </p>
    </section>
    <section class="user_info">
      <%= render "static_pages/stats" %>
    </section>
</div>
