<section class="user_info center">
  <%= avatar_for @user %>
  <%= render "users/follow_form" if signed_in? %>
</section>
<section class="user_info center">
  <h1 class="user_info center">
    <%= link_to @user.name, @user %>
  </h1>
  <%= @user.email %>
  <span>
    <b><%= t "number_word_learned" %></b>
    <%= Word.all_word(@user.id).count %>
    <%= t "words" %>
  </span>
</section>
<section class="stats center">
  <%= render "static_pages/stats" %>
</section>
