<li>
  <div class="form_left">
    <%= avatar_for user %>
  </div>
  <div class="form_right">
    <p>
      <%= link_to user.name, user %>
    </p>
    <p><%= user.email %></p>
    <p>
      <%= t "number_word_learned" %>
      <%= Word.learned(user.id).count %>
      <%= t "words" %>
    </p>
  </div>
</li>
