<li>
  <p>
    <%= t "category" %>:<%= link_to lesson.category.name, lesson.category %>
  </p>
  <p>
    <%= link_to lesson.name, lesson %> <%= t "has" %>
    <%= lesson.words.count %> <%= t "words" %>
  </p>
</li>
