<h1><%= t "result" %></h1>
<%= t "user_learn" %>: <%= link_to @lesson.user.name, @lesson.user %>
<% @lesson.lesson_words.each do |ls| %>
  <li>
    <%= ls.word.content %>|
    <% if ls.answer.nil? %>
      <%= t "you_dont_select_answer" %>
    <% else %>
      <%= t "your_answer" %>: <%= ls.answer.content %>|
      <%= ls.answer.is_correct ? t("you_have_true_answer") :
        t("you_have_false_answer") %>
    <% end %>
  </li>
<% end %>
