<div class="fields">
  <%= render "shared/error_messages", object: f.object %>
  <div class="form_content">
    <%= f.label :content, t("answer_content") %>
    <%= link_to_remove_fields "remove", f %>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="form_correct">
    <%= f.label :is_correct %>
    <%= f.check_box :is_correct %>
  </div>

</div>
